# Default ignored files
/shelf/
/workspace.xml
# Compiled class files
*.class
# Log files
*.log

# Built artifacts
/target/

# IntelliJ IDEA project files
.idea/
*.iml

# Maven local repository
/.m2/

# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
